<!-- Default form login -->
<form class="text-center border border-light p-5" method="POST" action="/users/login">

    <p class="h4 mb-4">Inicio de sesión</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="correo">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="contrasena">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Recordarme</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="#">¿Olvidó su contraseña?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Iniciar sesión</button>

    <!-- Register -->
    <p>¿No tiene una cuenta?
        <a href="/registro">Registrarse</a>
    </p>

</form>
<!-- Default form login -->