<div class="row">
       <div class="col-3" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Módulos</a>
            <a href="/users/deficit-de-atencion" class="list-group-item">Introducción</a>
            <a href="/users/deficit-de-atencion/modulo1" class="list-group-item">Módulo 1</a>
            <a href="/users/deficit-de-atencion/modulo2" class="list-group-item">Módulo 2</a>
            <a href="/users/deficit-de-atencion/modulo3" class="list-group-item">Módulo 3</a>
            <a href="/users/deficit-de-atencion/modulo4" class="list-group-item">Módulo 4</a>
            <a href="/users/deficit-de-atencion/prueba-final" class="list-group-item">Prueba Final</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
        <div class="col-9">
                    <h3>Módulo 4 - Come letras</h3>
        </div>
</div>
<style>
    .actives-menu{
        background-color: #B0BEC5;
        color: #fff;
        margin: 12px,
    }
</style>